<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Average speed</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <div th:fragment="average-speed">
        <th:block th:if="${issInformation.averageSpeed != null}">
            <span th:text="#{averageSpeed.message(${issInformation.averageSpeed})}"></span>
        </th:block>
        <th:block th:unless="${issInformation.averageSpeed != null}">
            <span th:text="#{averageSpeed.noInformationAvailable}"></span>
        </th:block>
        </div>
        <h1 th:text="#{index.title}">Page title</h1>
        <div th:replace="~{components/image :: image(imagePath = 'iss.jpg')}"></div>
        <div th:replace="~{average-speed :: average-speed}"></div>
        <span th:text="${issInformation}"></span>
    </body>
</html>
