<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}" lang="en">
    <head>
        <title th:text="#{index.title}">Page title</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" media="all"
            th:href="@{/css/style.css}" />
    </head>
<body>
	<h1 th:text="#{index.title}">Page title</h1>
	<div class="left">
		<div th:replace="~{route-map :: route-map}"></div>
		<div th:replace="~{average-speed :: average-speed}"></div>
	</div>
	<div class="right">
		<div
			th:replace="~{components/static-image :: static-image(imagePath = 'iss.jpg')}"></div>
	</div>
</body>
</html>
